.searchInputBox {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.labelSearch {
  display: block;
}

.searchInput {
  margin: 0 auto;
  width: 400px;
}

.searchBox {
  position: relative;
}

.searchIcon {
  color: white;
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
}


@media (max-width: 1090px) {
  .searchInput {
    width: 340px;
  }
  
 }

@media(max-width: 425px){
  .searchInput {
    width: 240px;
  }
}
