.contactsPage {
  margin: 0 auto;
  padding: 15px;

  width: 90%;
  height: 80vh;

  display: flex;
  justify-content: center;
 
  gap: 10px;

  background-color: rgba(252, 252, 252, 0.158);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: -3px 5px 12px -11px rgba(0,0,0,0.3);
}

.contactForm {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactFormContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.titleBox{
    text-align: center;
    color: white;
  }
  
  .position{
    position: relative;
    display: inline-block;
  }
  
  .pbTitle {
   display: inline;
  
  }
  
  @media(max-width: 767px){
    .contactsPage{
      flex-wrap: wrap;
      overflow: hidden;
      height: 85vh;
    }
    .titleBox {
      display: none;
    }
    .contactForm {
     height: 30%;
    }
  }