.loginBox {
    margin: 0 auto;
    width: 90%;
    height: 80vh;
    background-color: rgba(252, 252, 252, 0.158);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    box-shadow: -3px 5px 12px -11px rgba(0,0,0,0.3);
}

.formikBox {
    height: 100%;
    width: 40%;
    border-top-left-radius: 20px;   
    border-bottom-left-radius: 20px; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loginFormBox{
    width: 70%;
    height: 80%;
    padding: 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.151);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.label {
    margin-bottom: 50px;
}

.labelText{
    display: block;
    color: rgb(255, 255, 255);
}

.infoBox{
    display: inline-block;
    height: 100%;
    width: 60%;
    border-top-right-radius: 20px;   
    border-bottom-right-radius: 20px; 
}

.btn{
    margin-top: 25px;
}


.infoBox {
    position: relative;
    padding-top: 150px;
    /* display: flex;
    align-items: center; */
}

.infoTitle {
    font-weight: bold;
    color: white;
    font-size: 50px;
    width: 80%;
}


.error {
    display: block;
    margin-top: 3px;
    font-size: 14px;
    color: red;
  }
