.favBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 120px;
    margin-bottom: 10px;
}

.active {
    border: 2px solid white;
}

.btnBox {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}
