.contactBox {
  min-width: 450px;
  max-width: 500px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.151);
  box-shadow: -3px 5px 12px -11px rgba(0,0,0,0.3);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .contactBox{
    padding-right: 0px;
   }
 }



.infoBox{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactName {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.contactIcon {
  transform: translateY(5px);
  color: white;
}

.btnBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn{
  height: 40px;
  width: 40px;
  padding: 5px;
}
