.contactBox {
  min-width: 450px;
  max-width: 500px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.151);
  box-shadow: -3px 5px 12px -11px rgba(0,0,0,0.3);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

 @media (max-width: 1090px) {
  .contactBox{
    margin-right: 0px;
    min-width: 280px;
   }
 }



.infoBox{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactName {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.contactIcon {
  transform: translateY(5px);
  color: white;
}

.btnBox {
  display: flex;
  gap: 5px;
}

.btn{
  height: 40px;
  width: 40px;
  padding: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  label {
    font-weight: 600;
  }
}
  
  .formName,
  .formNumber {
    position: relative;
    margin-bottom: 30px;
  }
  
  .formInput {
    width: 100%;
    padding-right: 40px;
  }

  .btnBoxF{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
  }

  .formBtnCancel {
    color: rgb(206, 59, 59);
    min-width: 100px;
  }

  .formBtnCancel:hover {
  
    border: 1.5px solid rgb(206, 59, 59);
  }

  .formBtnSave {
    color: rgb(59, 163, 81);
    min-width: 100px;
  }
  .formBtnSave:hover {
    border: 1.5px solid rgb(59, 163, 81);
  }

  .error {
    position: absolute;
    bottom: -45%;
    font-size: 14px;
    left: 5px;
    color: red;
  }
  
  .contactIconF,
  .phoneIconF {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    pointer-events: none;
  }
