.contactBox {
  width: 300px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.contactName {
  font-weight: bold;
}

.contactIcon {
  transform: translateY(5px);
}
