.form {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.151);
  box-shadow: -3px 5px 12px -11px rgba(0,0,0,0.3);
  color: white;
  label {
    font-weight: 600;
  }
}


@media (max-width: 1090px) {
  .form{
    max-width: 340px;
  }
 }


.formName,
.formNumber {
  position: relative;
  margin-bottom: 30px;
}

.formInput {
  width: 100%;
  padding-right: 40px;
}

.formBtn {
  margin: 0 auto;
  width: 30%;
}

.error {
  position: absolute;
  bottom: -45%;
  font-size: 14px;
  left: 5px;
  color: red;
}

.contactIcon,
.phoneIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;
}
