.login{
    display: flex;
    gap: 15px;
}

.navLink.active{
    position: relative;
 }

 .navLink.active::before {
    content: '';
    position: absolute;
    bottom: -.45rem;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.400);
    border-radius: 50%;
}

