body {
  font-family: sans-serif;
  line-height: 1.5;
  position: relative;
  background-image: linear-gradient(120deg, #a45be9 0%, #4e87c0 100%);
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 100px;
  padding: 0 10px;
}


button {
  width: 40%;
  height: 50px;
  cursor: pointer;
  padding: 10px;
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0.185);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 22px;
  transition: all 0.3s ease-out;
}
button:hover {
  border-color: aliceblue;
}

input {
  border: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #ffffff52 ;
  background-color: transparent;
  padding: 10px;
  height: 50px;
  width: 270px;
  transition: all 0.3s ease-out;
  color: rgb(255, 255, 255);
}




input:focus, input:hover {
  border-color: white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.712);
  font-size: 14px;
}
