.contactListBox{
  width: 50%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin; 
  scrollbar-color: rgba(255, 255, 255, 0.205) rgba(241, 241, 241, 0.116); 
  padding-right: 10px;
 }

 @media(min-width: 1024px){
  .contactListBox{
    width: 35%;
    
   }
 }
 @media(max-width: 767px){
  .contactListBox{
   overflow-y: scroll;
   height: 70%;
   width: 100%;
   }
 }

 .contactListBox::-webkit-scrollbar {
  width: 50px; 
}


.contactList {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  
}

.contactItem {
  width: 100%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.151);
  box-shadow: -3px 5px 12px -11px rgba(0,0,0,0.3);
  border-radius: 10px;
}






