.contactListBox{
  margin-right: 50px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin; 
  scrollbar-color: rgba(255, 255, 255, 0.205) rgba(241, 241, 241, 0.116); 
  padding-right: 5px;
 }

 @media (max-width: 1440px) {
  .contactListBox{
    margin-right: 0px;
   }
 }


 .contactListBox::-webkit-scrollbar {
  width: 50px; /* Ширина скроллбара */
}


.contactList {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  
}




