.mainTitleBox {
   margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTitle{
    margin: 0 100px;
    color: white;
    font-size: 65px;
    font-weight: 800;
}
