.mainTitleBox {
   margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTitle{
    margin: 0 100px;
    color: white;
    font-size: 65px;
    font-weight: 800;
}

@media (max-width: 769px) {
    .mainTitleBox {
        margin-top: 180px;
        text-align: center;
     }
     .mainTitle{
        font-size: 55px;
    }
    
}
@media (max-width: 576px) {
    .mainTitleBox {
        margin-top: 70px;
     }
     .mainTitle{
        font-size: 50px;
    }
    
}
